$screen-xlg : 1500px !default;
$container-xtra-large-desktop: (1450px + $grid-gutter-width) !default;
$container-xlg : $container-xtra-large-desktop !default;

@media screen and (min-width: $screen-xlg){
  .container{
    width:$container-xlg;
  }
  @include make-grid(xlg);
}

$screen-xxlg : 1920px !default;
$container-2xtra-large-desktop: (1530px + $grid-gutter-width) !default;
$container-xxlg : $container-2xtra-large-desktop !default;

@media screen and (min-width: $screen-xxlg){
  .container{
    width:$container-xxlg;
  }
  @include make-grid(xxlg);
}

$screen-xxs : 480px !default;
$container-xxs : $container-2xtra-large-desktop !default;

@media screen and (max-width: $screen-xxs){
  @include make-grid(xxs);
}