@supports (display: flex)
 {
  .login{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    height: 100vh;
  }
}

.login-screen{
  background: url("../assets/images/city.png") repeat-x left bottom;
  background-size: 50%;

  @include mobile{
    background-size: 80%;
  }

}
.login-form{

  border:1px solid $border-color-gray;
  @include border-radius(4px);
  @include box-shadow(0 1px 4px rgba(0,0,0,.2));
  padding: 15px 30px;

  .hero{
    text-align: center;
    margin: 20px auto;
    img{
      max-width: 70%;
    }
  }

  .form-group{
    &.has-feedback{
      .form-control{

        padding-left: ($input-height-base * 1.25);
        padding-right: 0;
        @include border-radius(0);
        border-top: 0;
        border-right:0;
        border-left:0;
        @include box-shadow(none);
        height: 40px;

        &:focus{
          @include box-shadow(none);

          + .form-control-feedback svg{
            fill:$brand-primary;
          }
        }

        &:active{
          + .form-control-feedback svg{
            fill:$brand-primary;
          }
        }
      }
      .form-control-feedback{
        left:0;
      }
    }

    svg{
      width: 20px;
      height:20px;
      fill: #aaa;
      vertical-align: middle;
      @include transition(all 0.15s ease-in-out 0s);
    }
  }

  .btn-primary{
    background: darken($brand-primary,5%);
    @include box-shadow(none);
    text-transform: uppercase;
    width: 100%;
    display: block;
    margin: 20px auto;
  }

  .checkbox{
    label{
      color: $input-color;
      vertical-align: middle;
    }
  }
}